<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/common.css">
    <script src ="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src ="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center page-title"><%= title %></div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="article-box">
                <h1 class="text-center"><%= art.title %></h1>
                <p class="text-center">
                    <span class="label label-info"><%= art.tag %></span>
                    <span class="create-time">
                        <span class="text-bold">时间：</span>
                        <%= moment(art.createTime).locale('zh-cn').format('LL HH:mm:ss') %>
                    </span>
                </p>
                <p><%= art.content %></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>